*{
    margin: 0;
    padding: 0;
}
body{
    height: 1000px;
}
.header{
    text-align: center;
    height: 50px;
    background: rgb(255, 137, 137);
}
.menu{
    width: 200px;
    height: 300px;
    background: rgb(255, 255, 85);
    float: left;
}
.content{
    background: rgb(129, 129, 255);
}
.banner{
    width: 200px;
    height: 300px;
    float: right;
    background: rgb(116, 255, 116);
}
.footer{
    height: 50px;
    background: gray;
    clear: both;
}
.wrap{
    background: rgb(197, 153, 199);
    height: 300px;
}
.clear{
    background: #000;
    height: 10px;
    clear: both;
}
.square1, .square2, .square3 {
    width: 90px;
    height: 90px;
    background-color: red;
    position: absolute;
    z-index: 2;
}

.square1 {
    top: 95px;
    left: 560px;
}

.square2{
    top: 95px;
    left: 725px;
}

.square3{
    top: 210px;
    left: 645px;
}

.square4{
    background-color: orange;
    width: 125px;
    height: 125px;
    position: absolute;
    top: 125px;
    left: 625px;
    z-index: 3;
}

.yellow-square{
    background-color: #66dded;
    width: 280px;
    height: 280px;
    position: absolute;
    top: 55px;
    left: 547px;
    z-index: 1;
}